<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile</title>
    <link rel = "stylesheet" href = "css/profile.css" type = "text/css">
    <script src = "js/profile.js" defer> </script>
</head>

<body>
    <div class = "wrapper">
        <!-----------------------------------------------
                        STICKY SIDEBAR                     
        ------------------------------------------------>
        <%- include("./partials/sidebar.ejs") %>

        <div class = "main-container">
            <!-----------------------------------------------
                            STICKY HEADER                     
            ------------------------------------------------>
            <%- include("./partials/header.ejs", { headerTitle: "Profile" }) %>

            <!-----------------------------------------------
                            PROFILE CONTAINER
                This is the black rectangle in the middle
                of the page where most info is displayed.                     
            ------------------------------------------------>
            <div class = "profile-container" id = "profile-container"> 
                <div class = "profile-header" id = "profile-header">
                    
                    <!-----------------------------------------------
                            Upload Profile Picture Button
                    ------------------------------------------------>
                    <label for = "file" class = "upload-button"> 
                        <div class = "profile-picture-container">
                            <input type = "file" id = "file" accept = "image/*" hidden>
                            <img src = "images/profile-picture-icon.jpg" alt = "profile picture" id = "profile-pic">
                            
                            <div class = "text-overlay">
                                <span> Edit Profile Picture </span>
                            </div>
                        </div>
                    </label>
            
                    <!-----------------------------------------------
                            Profile Info: Full Name, ID Number
                    ------------------------------------------------>
                    <div class = "profile-info" id = "profile-info"> 
                        <!--------- Details added through JS ----------->
                    </div>

                    <!-----------------------------------------------
                                Edit Profile Description Button
                    ------------------------------------------------>
                    <button class = "button" id = "edit-profile-button"> Edit Profile </button>

                    <!-----------------------------------------------
                                Delete Account Button
                    ------------------------------------------------>
                    <button class = "button" id = "delete-account"> Delete Account </button>
                </div>

                <!-----------------------------------------------
                        Edit Profile Description Popup Box
                ------------------------------------------------>
                <div class = "pop-up" id = "pop-up">
                    <textarea name = "new-description" id = "new-description" cols = "30" rows = "5" placeholder = "Enter new description"> </textarea>
                    <br>
                    <button id = "save-button" class = "save-button"> Save Changes </button>
                </div>

                <div class = "profile-body">
                    <!-----------------------------------------------
                                    Profile Description
                    ------------------------------------------------>
                    <div class = "profile-description">
                        <h3> Description </h3>
                        <p id = "profile-description"> no description </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>