<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <title> Technician Dashboard </title>
    <link rel = "stylesheet" type = "text/css" href = "/css/technician.css">
    <script src = "/js/technician.js"> </script>
</head>

<body> 
    <div class = "wrapper">
        <!-----------------------------------------------
                        STICKY SIDEBAR                     
        ------------------------------------------------>
        <%- include("./partials/technician-sidebar.ejs") %>

        <div class = "main-container" id = "main-container">
            <!-----------------------------------------------
                            STICKY HEADER                     
            ------------------------------------------------>
            <%- include("./partials/header.ejs", { headerTitle: "Technician" }) %>

            <div class = "body">
                
                <div id = "category-header">
                    <div class = "category">
                        <label> Reservations </label>
                    </div>
                    <div class = "category">
                        <label> Students </label>
                    </div>
                    <div class = "category">
                        <label> Laboratory </label>
                    </div>
                </div>
            </div>


            <label> Hello test </label>
        </div>
    </div>  
</body> 
</html>