<link rel = "stylesheet" type = "text/css" href = "/css/header.css">

<div class = "header">
    <div class = "header-box"> 
        <span class = "header-title"> <%= headerTitle %> </span>
    </div>
</div>