<link rel = "stylesheet" type = "text/css" href = "/css/sidebar.css">

<div class = "sidebar">
    <div class = "logo"> 
        <a href = "#" class = "lab">Lab</a><a href = "#" class = "book">Book</a>
    </div>        

    <div class = "button" onclick = "navigateToPage('/technician')"> 
        <div class = "icon-box"> 
            <span class = "profile-icon-white"> </span>
        </div>
        <div class = "button-text-box"> 
            <span class = "button-text"> TECHNICIAN </span>
        </div>
    </div>

    <div class = "button" onclick = "navigateToPage('/logout')" > 
        <div class = "icon-box"> 
            <span class = "logout-icon-white"> </span>
        </div>
        <div class = "button-text-box"> 
            <span class = "button-text"> LOGOUT </span>
        </div>
    </div>
</div>